<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup> 
     <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
    <add key="locale" value=""/>
    <add key="forecolor" value="Blue"/>
    <add key="backcolor" value="#f0f0f0"/>
    <add key="ecclevel" value=""/>
    <add key="size" value=""/>
  </appSettings>

</configuration>
